<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" [routerLink]="['/clientes/form']">
  Agregar
</button>
<p></p>
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input #termino
        type="text" 
        class="form-control" 
        placeholder="Buscar">
      </div>
    </div>
  </div>
</div> -->

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Estatus</th>
            <th scope="col">Fecha Ins</th>
            <th scope="col">Fecha Up</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes" >
            <td>{{cliente.id}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.primerapellido}}</td>
            <td>{{cliente.segundoapellido}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.estatus}}</td>
            <td>{{cliente.fechains}}</td>
            <td>{{cliente.fechaup}}</td>
            <td>
<button type="button" class="btn btn-primary" data-bs-toggle="modal"  data-bs-target="#exampleModal" [routerLink]="['/clientes/form', cliente.id]">
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
