<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Candidato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">

            <form>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtTitulo" placeholder="" [(ngModel)]="cliente.nombre" name="nombre">
                      <!-- <span class="errores" id="errorTitulo">* Debe llenar el campo Nombre del Prducto</span> -->
                    </div>
                    <input type="hidden" id="txtIdLibro" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="primerapellido" class="col-sm-10 col-form-label">Primer apellido</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtAutor" placeholder="" [(ngModel)]="cliente.primerapellido" name="primerapellido">
                      <!-- <span class="errores" id="errorAutor">* Debe llenar el campo Código del Producto</span> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="segundoapellido" class="col-sm-10 col-form-label">Segundo apellido </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtEdicion" placeholder="" [(ngModel)]="cliente.segundoapellido" name="segundoapellido">
                      <!-- <span class="errores" id="errorEdicion">* Debe llenar el campo Cantidad del Producto</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtEditorial" placeholder="" [(ngModel)]="cliente.telefono" name="telefono">
                      <!-- <span class="errores" id="errorEditorial">* Debe llenar el campo Precio</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="estatus" class="col-sm-2 col-form-label">Estatus</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtEditorial" placeholder="" [(ngModel)]="cliente.estatus" name="estatus">
                      <!-- <span class="errores" id="errorEditorial">* Debe llenar el campo Unidad</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="fechains" class="col-sm-10 col-form-label">Fecha ins</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtEditorial" placeholder="" [(ngModel)]="cliente.fechains" name="fechains">
                      <!--  <span class="errores" id="errorEditorial">* Debe llenar el campo Unidad</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="fechaup" class="col-sm-10 col-form-label">Fecha up</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="txtEditorial" placeholder="" [(ngModel)]="cliente.fechaup" name="fechaup">
                      <!-- <span id="errorClasificacion" class="errores">* Debe Seleccionar una Opción</span> -->
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </form>
          </div>
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)='create()' *ngIf="!cliente.id else elseBlock">Guardar</button>
          <ng-template #elseBlock>
            <button type="button" class="btn btn-primary" (click)='update()'>Editar</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
